<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="In The Green is a convenient stock trading calculator to swiftly calculate potential profit or losses">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta property="og:title" content="In The Green: Stock Trading Calculations App" />
	<meta property="og:url" content="https://inthegreen.herokuapp.com/" />
	<meta property="og:type" content=”website” />
	<meta property="og:description"
		content="In The Green is a convenient stock trading calculator that lets you check for selling profit or loss efficiently. It takes in to consideration brokerage offset and automatically doubles for both buy and sell actions." />
	<meta property="og:image" content="56e0826d199b19261866387bb213264f.png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>In The Green</title>
</head>

<body>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo center">In The Green</a>
				<form>
					<div class="input-field">
						<input id="searchShare" type="search" required>
						<label class="label-icon" for="searchShare"><i class="material-icons">search</i></label>
						<i id="closeSearch" class="material-icons">close</i>
					</div>
				</form>
			</div>
			<a data-target="slide-out"
				class="btn-floating btn-small halfway-fab waves-effect waves-light sidenav-trigger"
				style="display: block;">
				<i class="material-icons">account_circle</i>
			</a>
		</nav>
	</div>
	<ul id="slide-out" class="sidenav">
		<li>
			<a class="subheader center">In The Green</a>
		</li>
		<li>
			<div class="divider"></div>
		</li>
		<li>
			<a class="waves-effect">
				<i class="material-icons">account_circle</i>
				Your Name Here
			</a>
		</li>
		<li>
			<a class="waves-effect">
				<i class="material-icons">exit_to_app</i>
				Login
			</a>
		</li>
	</ul>
	<div class="row">
		<div class="progress" style="display: none;">
			<div class="indeterminate"></div>
		</div>
		<div class="col m6" id="searchHistory" style="display: none;">
			<table class="striped">
				<thead>
					<tr>
						<th>Code</th>
						<th>Region</th>
						<th>More Info.</th>
					</tr>
				</thead>
				<tbody id="tableBodySearchHistory">
				</tbody>
			</table>
			<button class="btn red darken-1" data-clear>
				Clear
			</button>
		</div>
		<div class="col m6" id="shareDetails">
			<table id="tableShareDetails">
			</table>
		</div>
	</div>
	<div class="row">
		<form class="col l5">
			<div class="row">
				<div class="col s10 offset-s1">
					<!-- <div class="input-field s12">
					<i class="material-icons prefix"></i>
					<input id="nameOfShare" type="text" class="validate" />
					<label for="nameOfShare">Name of Share</label>
				</div> -->
					<div class="input-field col s12 xl6 tooltipped" data-position="bottom"
						data-tooltip="Enter total shares or total purchase price.">
						<i class="material-icons prefix">insert_chart</i>
						<input id="numberOfShares" type="number" class="validate" />
						<label for="numberOfShares">Number of Shares</label>
					</div>
					<div class="input-field col s12 xl6 tooltipped" data-position="bottom"
						data-tooltip="Enter total shares or total purchase price.">
						<i class="material-icons prefix">monetization_on</i>
						<input id="totalPurchasePrice" type="number" class="validate" />
						<label for="totalPurchasePrice">Total Purchase Price</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">attach_money</i>
						<input id="purchasePrice" type="number" min="0" step="0.01" class="validate" />
						<label for="purchasePrice">Purchase Price (Per Share)</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">account_balance</i>
						<input id="brokerage" type="number" class="validate" />
						<label for="brokerage">Brokerage (automatically * 2)</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">attach_money</i>
						<input id="targetPrice" type="number" min="0" step="0.01" class="validate" />
						<label for="targetPrice">Target Sell Price (Per Share)</label>
					</div>
				</div>
			</div>
			<div class="col s12 center-align">
				<button id="calculateButton" class="btn waves-effect waves-light" type="submit" name="action">Calculate
					<i class="material-icons right">send</i>
				</button>
				<button id="clearInputsButton" class="btn waves-effect waves-light red" name="action">
					C
				</button>
			</div>
		</form>
		<div class="col s10 offset-s1 offset-l1 l6">
			<table>
				<thead>
					<tr>
						<th>Purchase Total</th>
						<th>Target Sell</th>
						<th>Profit / Loss</th>
						<th>Clear</th>
					</tr>
				</thead>
				<tbody id="tableBodyCalculate">
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>